body {
  background: #f0f0f0;
}
#intro {
  background: #467612 url(images/intro_background.png) repeat-x;
  background-size: 100%;
  border-radius: 22px;
  height: auto;
}

#intro-txt {
  margin: 1.5rem;
}
#intro-img {
  border-radius: 5% !important;
}

aside {
  background: url("images/sidebar_background.png") top left;
}

#comments {
  border-top: 1px solid #d7d7d7;
}

#comments article:nth-child(odd) {
  background: #e3e3e3;
  border: 1px solid #d7d7d7;
  border-radius: .675rem;
}

#form {
  border-top: 1px solid #d7d7d7;
}
